.trending {
  background: #f3f5f8;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 82px;
  h2 {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 20px;
    color: #572ee5;
  }
  p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
  }
  .txt_display_none {
    display: none;
  }
  .trending-img-ctn {
    display: flex;
    padding: 11px;

    .imgs-ctn {
      display: flex;
      overflow: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .gif {
        margin: 11px;
        width: 243px;
        height: 187px;
      }
      .icons-card {
        display: none;
      }
    }
    .button-slider {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) {
  .trending {
    padding-top: 67px;
    padding-bottom: 182px;
    h2 {
      font-size: 25px;
      margin-bottom: 12px;
    }
    p {
      font-size: 18px;
      margin-bottom: 53px;
    }
    .trending-img-ctn {
      margin: auto;
      align-items: center;
      justify-content: center;
      .imgs-ctn {
        width: 1130px;

        .card {
          width: 357px;
          height: 275px;
          margin: 11px;
          position: relative;
          .gif {
            position: relative;
            width: 357px;
            height: 275px;
            margin: 0;
          }
          &:hover {
            .icons-card {
              box-sizing: border-box;
              width: 357px;
              height: 275px;
              position: absolute;
              top: 0px;
              left: 0px;
              background-color: #562ee5b4;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              padding: 5.5px;
              .iconFav,
              .iconDown,
              .iconMax {
                margin: 5.5px;
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
              .iconFav {
                background-image: url("/images/icon-fav.svg");
                &:hover {
                  background-image: url("/images/icon-fav-hover.svg");
                }
              }

              .iconDown {
                background-image: url("/images/icon-download.svg");
                &:hover {
                  background-image: url("/images/icon-download-hover.svg");
                }
              }
              .iconMax {
                background-image: url("/images/icon-max-normal.svg");
                &:hover {
                  background-image: url("/images/icon-max-hover.svg");
                }
              }
              .gifData {
                position: absolute;
                left: 0px;
                top: 175px;
                width: 100%;
                height: 100px;
                align-self: flex-end;
                justify-self: flex-start;
                .userName {
                  font-size: 15px;
                }
                .userName,
                .gifTitle {
                  color: white;
                  text-align: start;
                  margin: 6px 18px;
                  font-family: "Roboto", sans-serif;                  
                }
              }
            }
          }
        }
      }

      .button-slider {
        display: block;
        width: 40px;
        height: 40px;
        margin: 11px;
      }
    }
  }
}
