@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto&display=swap");
.logo {
  margin: 34px 22px;
  width: 48.8px;
  height: 48.8px;
  font-family: "roboto", sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  border-top: solid 5px #572ee5;
  position: fixed;
  z-index: 20;
  background-color: #ffffff;
}

.checkbox-menu {
  display: none;
}

.menu {
  display: none;
}

.close-menu {
  display: none;
}

input:checked ~ .open-menu {
  display: none;
}

input:checked ~ .menu,
input:checked ~ .close-menu {
  display: block;
}

.open-menu,
.close-menu {
  margin: 47px 27px;
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(87, 46, 229, 0.9);
  position: absolute;
  top: 100px;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  z-index: 10;
}

.menu li {
  list-style: none;
  line-height: 48px;
}

.menu li .menuOption {
  text-decoration: none;
  color: white;
}

.menu li hr {
  width: 41px;
  height: 0.1px;
  margin: auto;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.5;
}

.menu .crear-gifo {
  display: none;
}

@media screen and (min-width: 900px) {
  .nav {
    height: 90px;
  }
  .add-shadow {
    -webkit-box-shadow: 0px 2px 4px 1px rgba(156, 175, 195, 0.55);
            box-shadow: 0px 2px 4px 1px rgba(156, 175, 195, 0.55);
  }
  .logo {
    display: block;
    height: 59.1px;
    width: 59.1px;
    margin-left: 156px;
    margin-top: 18px;
  }
  .open-menu {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    background-color: white;
    position: relative;
    top: 0px;
    margin-right: 156px;
    width: 487px;
    height: 100%;
  }
  .menu li .menuOption {
    font-size: 13px;
    color: #572ee5;
    text-transform: uppercase;
    font-weight: bold;
  }
  .menu li .menuOption:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-text-decoration-color: #00f3bb;
            text-decoration-color: #00f3bb;
  }
  .menu li .menuOption:active {
    text-decoration: none;
    color: #9cafc3;
  }
  .menu li .grey {
    color: #9cafc3;
  }
  .menu .crear-gifo {
    display: block;
    width: 54px;
    height: 54px;
  }
  .menu hr {
    display: none;
  }
}

.buscador {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #572ee5;
}

.buscador h1 {
  font-size: 25px;
  margin: 7px 45px 45px;
}

.buscador h1 .green {
  color: #50e3c2;
}

.buscador .divObserver {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 420px;
  background-color: rgba(0, 0, 0, 0.438);
  -ms-flex-item-align: start;
      align-self: flex-start;
  visibility: hidden;
}

.buscador .ilustra-header {
  width: 78.2%;
}

.buscador .input-ctn {
  z-index: 10;
  border: #572ee5 solid 1px;
  border-radius: 27px;
  width: 90%;
  position: relative;
}

.buscador .input-ctn .inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buscador .input-ctn .inputDiv input {
  height: 50px;
  width: 90%;
  border: none;
  background-color: #562ee500;
  padding-left: 55px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.buscador .input-ctn .inputDiv input:focus {
  outline: none;
}

.buscador .input-ctn .inputDiv .lupa,
.buscador .input-ctn .inputDiv .x {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}

.buscador .input-ctn .inputDiv .x {
  display: none;
}

.buscador .input-ctn hr {
  display: none;
}

.buscador .input-ctn .sugerenciasDiv {
  display: none;
}

.buscador .input-ctn .sugerenciasDiv ul {
  margin: 10px 24px 18px;
}

.buscador .input-ctn .sugerenciasDiv ul li {
  line-height: 30px;
  text-align: start;
  list-style: none;
  color: #9cafc3;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.buscador .input-ctn .sugerenciasDiv ul li .lupaSugerencias {
  height: 15.8px;
  width: 15.8px;
  margin-right: 14px;
}

.buscador h4 {
  margin-top: 31px;
  margin-bottom: 2px;
}

.buscador p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 45px;
}

.buscador p span {
  cursor: pointer;
}

.buscador p span:hover {
  color: #50e3c2;
}

.buscador .search-results {
  display: none;
}

.buscador .search-results hr {
  border: 1px solid #9cafc3;
  background-color: #9cafc3;
  opacity: 0.5;
  width: 157px;
  margin: 35px auto 0;
}

.buscador .search-results h2 {
  margin: 43px auto 37px;
}

.buscador .search-results .empty {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscador .search-results .empty img {
  margin: 20px 0 23.7px 0;
}

.buscador .search-results .empty h2 {
  font-size: 16px;
  color: #50e3c2;
  line-height: 33px;
}

.buscador .search-results .results-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buscador .search-results .results-ctn .card {
  width: 156px;
  height: 120px;
  margin: 0 11px 25px;
}

.buscador .search-results .results-ctn .card .gif {
  width: 100%;
  height: 100%;
}

.buscador .search-results .results-ctn .card .icons-card {
  display: none;
}

.buscador .search-results .ver-mas {
  border: #572ee5 solid 1px;
  border-radius: 25px;
  height: 50px;
  width: 127px;
  background-color: white;
  margin: 54px auto 79px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572ee5;
  font-size: 13px;
}

.buscador .search-results .ver-mas:focus {
  outline: none;
}

.buscador .search-results .ver-mas:hover {
  background-color: #572ee5;
  color: white;
}

.buscador-fav .search-results-fav {
  display: block;
}

.buscador-fav .search-results-fav .icon-favoritos {
  margin-top: 5px;
  width: 28px;
  height: 21px;
}

.buscador-fav .search-results-fav h2 {
  font-size: 20px;
  margin: 7px auto 46px;
}

@media screen and (min-width: 769px) {
  .buscador {
    padding-top: 95px;
    margin-bottom: 45px;
  }
  .buscador h1 {
    font-size: 35px;
    margin: 76px auto 24px;
    line-height: 50px;
  }
  .buscador .ilustra-header {
    width: 399px;
  }
  .buscador .input-ctn {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    width: 551px;
    z-index: 20;
  }
  .buscador .input-ctn hr {
    display: none;
    border: 1px solid #9cafc3;
    background-color: #9cafc3;
    opacity: 0.5;
    width: 505px;
    margin: 0 auto;
  }
  .buscador .isSticky {
    width: 23%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    left: 23%;
  }
  .buscador .br-buscador {
    display: none;
  }
  .buscador h4 {
    margin-top: 73px;
    margin-bottom: 7px;
  }
  .buscador p {
    font-size: 16px;
  }
  .buscador .search-results {
    display: none;
  }
  .buscador .search-results hr {
    margin-top: 55px;
    width: 338px;
  }
  .buscador .search-results .empty img {
    margin-top: 109.3px;
  }
  .buscador .search-results .empty h2 {
    font-size: 22px;
  }
  .buscador .search-results .results-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buscador .search-results .results-ctn .card {
    width: 260px;
    height: 200px;
    margin: 0 15px 15px;
    position: relative;
  }
  .buscador .search-results .results-ctn .card .gif {
    position: relative;
    z-index: -1;
    width: 260px;
    height: 200px;
  }
  .buscador .search-results .results-ctn .card:hover .icons-card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #562ee5b4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5.5px;
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconFav,
  .buscador .search-results .results-ctn .card:hover .icons-card .iconDown,
  .buscador .search-results .results-ctn .card:hover .icons-card .iconMax {
    margin: 5.5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconFav {
    background-image: url("../images/icon-fav.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconFav:hover {
    background-image: url("../images/icon-fav-hover.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .itsFav {
    background-image: url("../images/icon-trash-normal.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .itsFav:hover {
    background-image: url("../images/icon-trash-hover.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconDown {
    background-image: url("../images/icon-download.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconDown:hover {
    background-image: url("../images/icon-download-hover.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconMax {
    background-image: url("../images/icon-max-normal.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .iconMax:hover {
    background-image: url("../images/icon-max-hover.svg");
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .gifData {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin-bottom: 25px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-start;
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .gifData .userName {
    font-size: 15px;
  }
  .buscador .search-results .results-ctn .card:hover .icons-card .gifData .userName,
  .buscador .search-results .results-ctn .card:hover .icons-card .gifData .gifTitle {
    color: white;
    text-align: start;
    margin: 5px 12px;
    font-family: "Roboto", sans-serif;
  }
  .buscador-fav .search-results-fav {
    display: block;
  }
  .buscador-fav .search-results-fav .icon-favoritos {
    margin-top: 11px;
    width: 28px;
    height: 21px;
  }
  .buscador-fav .search-results-fav h2 {
    font-size: 25px;
    margin: 8px auto 36px;
  }
}

.trending {
  background: #f3f5f8;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 82px;
}

.trending h2 {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 20px;
  color: #572ee5;
}

.trending p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 32px;
}

.trending .txt_display_none {
  display: none;
}

.trending .trending-img-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
}

.trending .trending-img-ctn .imgs-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.trending .trending-img-ctn .imgs-ctn::-webkit-scrollbar {
  display: none;
}

.trending .trending-img-ctn .imgs-ctn .gif {
  margin: 11px;
  width: 243px;
  height: 187px;
}

.trending .trending-img-ctn .imgs-ctn .icons-card {
  display: none;
}

.trending .trending-img-ctn .button-slider {
  display: none;
}

@media screen and (min-width: 769px) {
  .trending {
    padding-top: 67px;
    padding-bottom: 182px;
  }
  .trending h2 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .trending p {
    font-size: 18px;
    margin-bottom: 53px;
  }
  .trending .trending-img-ctn {
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending .trending-img-ctn .imgs-ctn {
    width: 1130px;
  }
  .trending .trending-img-ctn .imgs-ctn .card {
    width: 357px;
    height: 275px;
    margin: 11px;
    position: relative;
  }
  .trending .trending-img-ctn .imgs-ctn .card .gif {
    position: relative;
    width: 357px;
    height: 275px;
    margin: 0;
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 357px;
    height: 275px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #562ee5b4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5.5px;
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconFav,
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconDown,
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconMax {
    margin: 5.5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconFav {
    background-image: url("../images/icon-fav.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconFav:hover {
    background-image: url("../images/icon-fav-hover.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconDown {
    background-image: url("../images/icon-download.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconDown:hover {
    background-image: url("../images/icon-download-hover.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconMax {
    background-image: url("../images/icon-max-normal.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .iconMax:hover {
    background-image: url("../images/icon-max-hover.svg");
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .gifData {
    position: absolute;
    left: 0px;
    top: 175px;
    width: 100%;
    height: 100px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-start;
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .gifData .userName {
    font-size: 15px;
  }
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .gifData .userName,
  .trending .trending-img-ctn .imgs-ctn .card:hover .icons-card .gifData .gifTitle {
    color: white;
    text-align: start;
    margin: 6px 18px;
    font-family: "Roboto", sans-serif;
  }
  .trending .trending-img-ctn .button-slider {
    display: block;
    width: 40px;
    height: 40px;
    margin: 11px;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 23px;
  border-bottom: #572ee5 solid 5px;
}

footer img {
  padding: 20px 10px 47px 10px;
}

@media screen and (min-width: 769px) {
  footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 158px 0 153px;
    height: 116px;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div img {
    padding: 0 10px;
  }
}

.divCrearGifo {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divCrearGifo .camara {
  margin-left: 10.8%;
  margin-right: 2px;
}

.divCrearGifo .externo {
  position: relative;
  width: 47.8%;
  height: 390px;
  border: 1px solid #572ee5;
  margin-top: 4px;
  margin-left: 1.6%;
}

.divCrearGifo h2 {
  text-align: center;
  margin-top: 134px;
  color: #572ee5;
  font-size: 25px;
  line-height: 35px;
}

.divCrearGifo h2 .green {
  color: #00f3bb;
}

.divCrearGifo p {
  text-align: center;
  line-height: 29px;
  font-family: "Roboto", sans-serif;
}

.divCrearGifo .loading {
  display: none;
  width: 518px;
  height: 345px;
  background-color: #562ee594;
  position: absolute;
  top: 20px;
  left: 84px;
  text-align: center;
}

.divCrearGifo .loading .btnsCtn {
  width: 88px;
  height: 46px;
  position: absolute;
  right: 0;
  margin: 5px;
  display: none;
}

.divCrearGifo .loading .btnsCtn .downBtn,
.divCrearGifo .loading .btnsCtn .linkBtn {
  margin: 5px;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.divCrearGifo .loading .btnsCtn .downBtn {
  background-image: url("../images/icon-download.svg");
}

.divCrearGifo .loading .btnsCtn .downBtn:hover {
  background-image: url("../images/icon-download-hover.svg");
}

.divCrearGifo .loading .btnsCtn .linkBtn {
  background-image: url("../images/icon-link-normal.svg");
}

.divCrearGifo .loading .btnsCtn .linkBtn:hover {
  background-image: url("../images/icon-link-hover.svg");
}

.divCrearGifo .loading img {
  margin-top: 122px;
}

.divCrearGifo .loading h5 {
  font-size: 15px;
  margin-top: 10px;
  color: white;
}

.divCrearGifo .video {
  display: none;
  height: 345px;
  margin: 20px auto;
}

.divCrearGifo .interno1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 27px;
  height: 25px;
  border-top: 1px solid #00f3bb;
  border-left: 1px solid #00f3bb;
}

.divCrearGifo .interno2 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 27px;
  height: 25px;
  border-top: 1px solid #00f3bb;
  border-right: 1px solid #00f3bb;
}

.divCrearGifo .interno3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 27px;
  height: 25px;
  border-bottom: 1px solid #00f3bb;
  border-left: 1px solid #00f3bb;
}

.divCrearGifo .interno4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 27px;
  height: 25px;
  border-bottom: 1px solid #00f3bb;
  border-right: 1px solid #00f3bb;
}

.divCrearGifo .pelicula {
  position: absolute;
  right: 11.6%;
  top: 477px;
}

.numerosCtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numerosCtn .numero {
  width: 32px;
  height: 32px;
  border: 1px solid #572ee5;
  border-radius: 50%;
  margin: 24px 12.5px 19px;
  text-align: center;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: #572ee5;
}

.violetLine {
  width: 55.3%;
  height: 6.9px;
  background-color: #572ee5;
  border-radius: 20px;
  margin: 0 auto 20.1px;
}

.crearGifoButton {
  border: #572ee5 solid 1px;
  border-radius: 25px;
  height: 50px;
  width: 127px;
  margin: 0px 45.6% 26px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572ee5;
  font-size: 13px;
  cursor: pointer;
}

.crearGifoButton:focus {
  outline: none;
}

.crearGifoButton:hover {
  background-color: #572ee5;
  color: white;
}

.modal {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  position: fixed;
  top: 0px;
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .maxGifX {
  position: absolute;
  width: 15.2px;
  height: 15.2px;
  top: 96.4px;
  right: 278.4px;
  cursor: pointer;
}

.modal .maxGifImg {
  margin-top: 160px;
  max-height: 60%;
}

.modal .maxGifCtn {
  width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .maxGifCtn .maxGifData p {
  font-family: "Roboto", sans-serif;
  margin-top: 27px;
}

.modal .maxGifCtn .maxGifData h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
}

.modal .maxGifCtn .maxGifButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .maxGifCtn .maxGifButtons div {
  margin: 22px 10.5px;
  border: 1px solid #ced7e1;
  border-radius: 7px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .modal .maxGifX {
    top: 64px;
    right: 39.3px;
  }
  .modal .maxGifImg {
    width: 84.8%;
  }
  .modal .maxGifCtn {
    width: 84.8%;
  }
  .modal .maxGifCtn .maxGifData p {
    margin-top: 14px;
  }
}

.body-dark {
  background-color: #37383c;
}

.body-dark header .nav {
  border-top: solid 5px #000000;
  background-color: #37383c;
}

.body-dark header .menu {
  background-color: #000000;
  z-index: 10;
}

.body-dark .buscador {
  color: #ffffff;
}

.body-dark .buscador .input-ctn {
  border-color: #ffffff;
  background-color: #37383c;
}

.body-dark .buscador .search-results .ver-mas {
  border-color: white;
  background-color: #37383c;
  color: white;
}

.body-dark .buscador .search-results .ver-mas:hover {
  background-color: white;
  color: #37383c;
}

.body-dark .trending {
  background-color: #222326;
  color: #ffffff;
}

.body-dark .trending h2 {
  color: #ffffff;
}

.body-dark footer {
  color: #ffffff;
  border-bottom: #000000 solid 5px;
}

@media screen and (min-width: 769px) {
  .body-dark header .menu {
    background-color: #37383c;
  }
  .body-dark .modal {
    background-color: #37383cc2;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */